{% set supervisor = salt['grains.filter_by']({
    'Debian': {
        'pkg': 'supervisor',
        'service': 'supervisor',
        'daemon': '/usr/local/bin/supervisord',
        'conf_file': '/etc/supervisord.conf',
        'confdir': '/etc',
        'logdir': '/var/log/supervisor',
        'rundir': '/var/run',
        'include_confdir': '/etc/supervisord.d',
    },
    'RedHat': {
        'pkg': 'supervisor',
        'service': 'supervisor',
        'daemon': '/usr/bin/supervisord',
        'conf_file': '/etc/supervisord.conf',
        'confdir': '/etc',
        'logdir': '/var/log/supervisor',
        'rundir': '/var/run',
        'include_confdir': '/etc/supervisord.d',
    },
}, grain='os_family', merge=salt['pillar.get']('supervisor:lookup')) %}


{% set supervisor_config = salt['pillar.get']('supervisor:config', {
    'unix_http_server': {
        'file': '/var/run/supervisor.sock',
    },
    'supervisord': {
        'childlogdir': '/var/log/supervisor',
        'logfile': '/var/log/supervisor/supervisord.log',
        'pidfile': '/var/run/supervisord.pid',
        'logfile_maxbytes': '50MB',
        'logfile_backups': '10',
        'loglevel': 'info',
        'nodaemon': 'false',
        'minfds': '1024',
        'minprocs': '200',
    },
    'rpcinterface:supervisor': {
        'supervisor.rpcinterface_factory': 'supervisor.rpcinterface:make_main_rpcinterface'
    },
    'supervisorctl': {
        'serverurl': 'unix:///var/run/supervisor.sock',
    },
    'include': {
        'files': '/etc/supervisord.d/*.ini /etc/supervisord.d/*.conf /etc/supervisord.d/*.cfg',
    },
}, merge=True) %}

{# If Lithium gets released then below code can be uncommentted because it is more DRY #}
{#
{{ '{%' }} set {{ cookiecutter.formula_name }} = salt['grains.filter_by']({
    'default': {
        'pkg': '{{ cookiecutter.formula_name }}',
        'service': '{{ cookiecutter.formula_name }}',
        'conf_file': '/etc/{{ cookiecutter.formula_name }}/{{ cookiecutter.formula_name }}.conf',
        'config': {
            'key': 'value',
        },
    },
    'Debian': {
    },
    'RedHat': {
    },
}, grain='os_family', merge=salt['pillar.get']('{{ cookiecutter.formula_name }}:lookup'), base='default') {{ '%}' }}
#}

